Repository primodiumxyz/developer, pull requests merged in 2024-03, with the labels that each got.

#33 Include v0.10.0 world address
  docs/pages/index.mdx
  docs/pages/latest.mdx
  docs/pages/overview-source/generation.mdx
  docs/public/quickstart-hero.png
Labels: kind/docs, status/in-progress

#34 v0.10.0 url on top of latest release page
  docs/pages/latest.mdx
Labels: kind/docs, status/in-progress

#35 v0.10.0 block explorer url
  docs/pages/latest.mdx
Labels: kind/docs, status/in-progress

#36 Update primodium indexer docs URL
  docs/pages/_meta.json
  docs/pages/indexer.mdx
Labels: kind/docs, status/in-progress

#37 Mobile UI fixes
  docs/pages/_meta.json
  docs/pages/game-guide.md
  docs/styles.css
Labels: kind/docs, status/in-progress

#40 Add namespace conflict footgun
  docs/pages/world-extension/deploy.mdx
  docs/pages/world-extension/footguns.mdx
  docs/pages/world-extension/setup.mdx
  docs/pages/world-extension/structure/delegation.mdx
  docs/pages/world-extension/testing.mdx
Labels: kind/docs, severity/medium, status/in-progress

#41 docs: categorize extension ideas
  docs/pages/world-extension/ideas.mdx
Labels: kind/docs

#42 Update `prototypeConfig.ts` to v0.10.2
  contract-source/config/constants.ts
  contract-source/config/enums.ts
  contract-source/config/prototypeConfig.ts
  contract-source/ts/prototypes/prototypeGenUtils.ts
  docs/pages/indexer.mdx
  docs/pages/latest.mdx
Labels: kind/docs, status/in-progress

#43 fix: change --version to --mudVersion in docs
  docs/pages/world-extension/footguns.mdx
  docs/pages/world-extension/setup.mdx
Labels: kind/docs, severity/high
